<div class="jumbotron text-center info">

    <h2>Informações do Teste</h2>
    <p>
        1. Criar um formulário para cadastro de uma viagem informando:
        <ul>
          <li>a. Origem e destino da viagem</li>
          <li>b. Data e horário de partida</li>
          <li>c. Tipo do veículo a ser utilizado</li>
          <li>d. Dados para contato de cada um dos integrantes</li>
        </ul>
    </p>
    <p>
        2. Todos os campos do formulário devem ser validados
    </p>
    <p>
        3. Criar uma listagem das viagens cadastradas
    </p>


</div>
